:root {
    --main-color: #ffffff;
    --secondary-color: #6e6e6e;

    --main-red: #b80d07;
    --medium-red: #f55353;
    --light-red: #fd9797;

    --main-blue: #123bbc;
    --medium-blue: #4569d6;
    --light-blue: #8299e4;
}